body, html {
  font-family: '微软雅黑', 'microsoft yahei';
  font-size: 14px;
  overflow-x: hidden;
  overflow-y: auto;
}

.left-menu {
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 220px;
    background: #001529;
    .scroll-hide-outer {
        overflow: hidden;
        .scroll-hide {
            width: 240px;
            height: calc(100vh - 130px);
            margin-top: 10px;
            overflow-y: scroll;
            overflow-x: hidden;
            //padding-left: 20px;
        }
    }
    .el-menu {
        border: none;
        //padding-left: 15px;
        background-color: #001529;
       // margin-left: 15px;
    }
   .pl40 {
      padding-left: 40px !important;
    }
    .el-menu-item,
    .el-submenu {
        i.iconfont {
            color: #fff;
        }
        background: #001529 !important;
        color: #A6AEBB;

        .el-submenu__icon-arrow {
            position: absolute;
            right: 60px !important;
            font-size: 16px;
            font-weight: 900;
        }
        .el-submenu__title {
            color: #fff;
            background: #001529 !important;
            i {
                color: #fff;
            }
        }
        &:focus {
            background: #121A2C !important;
            color: #009dec;
        }
        &:hover {
            background: #121A2C !important;
            color: #009dec;
        }
        .el-menu-item-group__title {
            background: #001529 !important;
            height: 0;
            padding: 0;
        }
        a {
            text-decoration: none;
        }
        .el-submenu__icon-arrow {
            right: initial;
            margin-left: 20px;
        }
    }
    li.no-child.el-menu-item {
        color: #fff;
    }
    li.no-child.el-menu-item.is-active {
        color: #009dec;
    }
    .el-submenu.is-opened .el-submenu__icon-arrow{
        color: #009dec;
    }
    .is-active {
        color: #009dec;
    }
    .span-15 {
        display: inline-block;
        width: 5px;
    }
    .logo {
        color: #fff;
        font-weight: bold;
        font-size: 14px;
        padding: 15px 10px ;
        cursor: pointer;
        background-color: #121A2C;
        img {
            width: 26px;
            vertical-align: inherit;
        }
        span {
            position: relative;
            top: -5px;
            line-height: 22px;
            margin-left: 10px;
        }
    }
    .menu-title {
        padding: 20px 0;
        width: 180px;
        margin: 0 auto;
        color: #fff;
        font-size: 14px;
        cursor: pointer;
        border-bottom: 1px solid #303B59;
        img {
            height: 18px;
            margin-right: 10px;
        }
        span {
            margin-left: 6px;
            line-height: 20px;
        }
    }
}
.right-main {
  position: fixed;
  left: 220px;
  top: 0;
  right: 0;
  bottom: 0;
  .header {
      position: relative;
      height: 60px;
      //background: #E5E5E5;
      .icon-container {
          float: right;
          margin-right: 36px;
          line-height: 60px;
          cursor: pointer;
          color: #666;
          .out-span:hover {
              color: #ee3323;
          }
          .message-outer {
              cursor: pointer;
              img {
                  vertical-align: middle;
                  position: relative;
                  top: -1px;
                  margin-right: 5px;
              }
              .el-badge__content{
                      right: 6px;
                      top: -12px;
                      border: 0;
                      position: absolute;
              }
              .msg-count {
                  color: #ee3323;
              }
          }
          .puUser {
              // border-left: 1px solid #ccc;
              // border-right: 1px solid #ccc;
              .username {
                  padding: 0 15px;
              }
              margin: 0 20px;
              .vertical-line {
                  display: inline-block;
                  width: 1px;
                  background-color: #ccc;
                  height: 12px;
                  vertical-align: middle;
              }
          }
      }
  }
  .tags-con{
      position: relative;
      height: 30px;
      z-index: 1;
      width: 100%;
      overflow: hidden;
      //background: #f4f4f4;
      border-bottom: 1px solid #B5BDCB;
      .tags-outer-scroll-con{
          position: relative;
          box-sizing: border-box;
          padding-right: 120px;
          width: 100%;
          height: 100%;
          .tags-inner-scroll-body{
              position: absolute;
              padding: 0 15px 0 16px;
              height: 30px;
              overflow: visible;
              white-space: nowrap;
              transition: left .3s ease;
              .tags {
                  background: #fff;
                  display: inline-block;
                  height: 30px;
                  padding: 0 30px 0 15px;
                  //padding: 0 20px;
                 // margin-right: 15px;
                  line-height: 30px;
                  position: relative;
                  cursor: pointer;
                  border: 1px solid #B5BDCB;
                  border-right: 0;
                  color: #6A7483;
                  .close {
                      position: absolute;
                      right: 10px;
                      cursor: pointer;
                      font-size: 16px;
                      margin-top: -6px;
                      margin-top: -2px;
                      i {
                          font-size: 14px;
                          color: #aaa;
                          font-weight: 900;
                      }
                  }

              }
              .tags:first-child {
                  padding: 0 20px;
              }
              .tags:last-child {
                  border-right: 1px solid #B5BDCB;
              }
              .tags:after {
                  content: '';
                  display: inline-block;
                  position: absolute;
                  right: -12px;
                  width: 0;
                  height: 0;
                  //border-left: 12px solid #fff;
                  //border-top: 30px solid transparent;
              }
              .tags.active {
                  color: #fff;
                  //border: 1px solid #B5BDCB;
                  background: #B5BDCB;
                  .close i{
                      color: #fff;
                  }
              }
              .tags.active:after {
                  border-left: 12px solid #B5BDCB;
              }
              .shareTab {
                  background-color: #e7eaecfc; //F4F7F9
              }
              .shareTab.active {
                  background-color: #e7eaecfc;
                  color: #6A7483;
              }
          }
          .close-all-tag-con{
              position: absolute;
              right: 0;
              top: 0;
              padding: 0 5px 0 5px;
              text-align: center;
              width: 100px;
              height: 30px;
              //background: #f4f4f4;
              //box-shadow: -3px 0 15px 3px rgba(0, 0, 0, .1);
              z-index: 10;
              .el-button {
                  padding: 7px 12px;
              }
          }
      }
  }
  .main {
      position: relative;
      overflow: auto;
      width: calc(100vw - 220px);
      height: calc(100vh - 90px);
      background: #f7f7f7;
      
      .main-container {
          padding: 20px;
          background-color: #fff;
          .el-pagination {
              margin: 30px 0;
              //background: #f4f4f4;
              button:disabled {
                  background: #f4f4f4;
                  i {
                      color: #aaa;
                      font-size: 14px;
                      font-weight: 900;
                  }
              }
              .el-pager li {
                  //background: #f4f4f4;
              }
              .el-pager li.active {
                  //background: #ccc;
                  // color: #333;
                  // display: inline-block;
                  // width: 20px;
                  // min-width: 20px;
                  // height: 20px;
                  // line-height: 20px;
                  // margin: 4px;
              }
          }
          .pu-toolbar {
              margin: 0;
              padding: 0;
              .btn-box {
                  width: 220px;
              }
              .left-btn-box {
                  //width: 320px;
                  margin-bottom: 20px;
                  button:first-child {
                      margin-left: 0;
                  }
                  button {
                      margin-left: 20px;
                  }
              }
              .right-btn-box {
                  width: 145px;
                  text-align: right;
              }
              /*.el-form-item__label {
                  background: none !important;
                  text-align: right;
                  border: none;
                  font-weight: 600;
              }*/
          }
          .title {
              font-size: 14px;
              font-weight: 600;
              margin-bottom: 15px;
          }
          .tab {
              margin-left: -30px;
              margin-right: -30px;
              border-bottom: 1px solid #ddd;
              margin-bottom: 20px;
              span {
                  display: inline-block;
                  padding: 12px 20px;
                  cursor: pointer;
                  margin-bottom: -1px;
              }
              .active {
                  font-weight: 600;
                  color: #009dec;
                  border-bottom: 2px solid #009dec;
              }
          }
          .tab-container {
              width: 100%;
              padding: 20px;
              margin: 20px 0;
              border: 1px solid #ddd;
              background: #fff;
              position: relative;
              .img-preview {
                  height: 60px;
                  position: absolute;
                  left: 420px ;
                  top: 10px;
                  img {
                      height: 60px;
                  }
              }
              .form-input {
                  width: 200px;
                  .el-input__inner {
                      //border-radius: 3px !important;
                      line-height: 28px !important;
                      height: 28px !important;
                  }
              }
              .iconfont {
                  font-size: 14px;
              }
              .radius .el-textarea__inner {
                  //border-radius: 3px !important;
                  width: 100%;
                  height: 80px;
              }
              .title {
                  border-left: 2px solid #0292DB;
                  padding-left: 5px;
                  font-size: 16px;
                  font-weight: 600;
              }
              .el-form-item {
                  margin-bottom: 12px;
              }
              .el-form-item__error {
                  padding-top: 0;
              }
              .icon-group {
                  margin-bottom: 15px;
              }
              .param-table {
                  th {
                      border-right: 1px solid #ccc;
                  }
                  td {
                      border-right: 1px solid #ccc;
                      padding: 10px 20px !important;
                      .el-input__inner {
                          height: 30px;
                          line-height: 30px;
                      }
                  }
              }
              button {
                  //padding: 5px 20px;
                  vertical-align: middle;
                  img {
                      height: 14px;
                  }
              }
              // button:hover {
              //     background: #1084bf;
              // }
              .radio-btn {
                  display: inline-block;
                  width: 50px;
                  height: 26px;
                  margin-right: 10px;
                  line-height: 25px;
                  font-size: 13px;
                  text-align: center;
                  border-radius: 12px;
                  border: 1px solid #ccc;
                  cursor: pointer;
              }
              .radio-btn.active {
                  color: #0292DB;
                  border-color: #0292DB;
                  background: #EAF9FF;
              }
              .el-table {
                  border-top: 1px solid #ccc;
                  border-left: 1px solid #ccc;
                  border-bottom: 1px solid #ccc;
                  th {
                      text-align: center;
                      border-color: #ccc;
                  }
                  td {
                      border-color: #ccc;
                  }
              }
          }
          .btn-group {
              width: 100%;
              text-align: right;
          }

          .search-container {
              width: 100%;
              display: inline-block;
              .search-con {
                  width: 360px;
                  display: inline-block;
                  font-size: 0;
                  margin-right: 30px;
                  .search-label {
                      width: 90px;
                      height: 32px;
                      line-height: 32px;
                      vertical-align: top;
                      font-size: 12px;
                      display: inline-block;
                      border: 1px solid #ccc;
                      border-right: none;
                      background: #f4f7f9;
                      text-align: center;
                  }
                  .search-input {
                    width: 270px !important;
                    border-radius: 0;
                    .ant-select-selection, .ant-input {
                        border-radius: 0;
                    }
                  }
              }
              
          }
          .page-btn-container {
            margin: 15px 0;
          }
          .ant-btn {
            border-radius: 0;
            margin-right: 20px;   
          }
      }
      .page {
          text-align: right;
          margin-top: 10px;
          .el-pagination {
              //background: #f4f4f4;
              button:disabled {
                  background: #f4f4f4;
              }
              button {
                  background: #f4f4f4 !important;
              }
              // .el-pager li {
              //     background: #f4f4f4;
              // }
              // .el-pager li.active {
              //     background: #ccc !important;
              //     color: #333 !important;
              //     border-radius: 0 !important;
              //     display: inline-block;
              //     width: 20px;
              //     min-width: 20px;
              //     height: 20px;
              //     line-height: 20px;
              //     margin: 4px;
              // }
          }
      }
  }
}



.login-wrap {
    width: 100%;
    height: 100%;
  
    .logo {
      position: fixed;
      left: 0;
      top: 0;
      right: 440px;
      bottom: 0;
      height: 100%;
      width: calc(100vw - 400px);
      display: table;
      background: url('../images/login-bg.jpg') no-repeat;
      background-size: 100% 100%;
  
      .cell {
        display: table-cell;
        vertical-align: middle;
        text-align: center;
  
        span {
          position: absolute;
          left: 50%;
          top: 50%;
          margin-top: -75px;
          margin-left: -175px;
          width: 350px;
          font-size: 50px;
          line-height: 90px;
          color: #fff;
  
        }
      }
    }
  }
  
  .login-con {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    margin: 0;
    width: 440px;
    height: 100%;
    background-color: #fff;
    color: #333;
    display: table;
  
    .cell {
      display: table-cell;
      vertical-align: middle;
      text-align: center;
  
      .login-header {
        color: #333;
  
        img {
          height: 50px;
          margin-right: 5px;
          vertical-align: middle;
        }
  
        span {
          vertical-align: middle;
          font-size: 22px;
          font-weight: 600;
          line-height: 50px;
          color: #444;
        }
      }
  
      .title {
        font-size: 18px;
        line-height: 18px;
        font-weight: 600;
        color: #666;
        margin: 45px 0 30px 0;
      }
  
      .login-box {
        width: 310px;
        margin: auto;
        text-align: left;
        .login-input {
            height: 40px;
            line-height: 40px;
            input {
                border-radius: 0 !important;
            }
        }
        .login-btn {
            width: 100%;
            height: 40px;
            line-height: 40px;
            color: #fff;
            margin-top: 10px;
            border-radius: 0 !important;
        }

  
        .el-input__inner {
          font-size: 16px;
          color: #999;
        }
  
        .link {
          color: #009dec;
          float: right;
          line-height: 0;
        }
  
        .footer-login {
          position: absolute;
          bottom: -60px;
  
          p {
            margin-top: 10px;
            color: #000;
            text-align: center;
          }
        }
      }
    }
  
  }
  

.shareicon {
    display: inline-block;
    width: 14px;
    height: 14px;
}


::-webkit-scrollbar {/*滚动条整体样式*/
    width: 10px;     /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
}
::-webkit-scrollbar-thumb {/*滚动条里面小方块*/
    border-radius: 10px;
     -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    background: #535353;
}
::-webkit-scrollbar-track {/*滚动条里面轨道*/
    -webkit-box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 10px;
    background: #EDEDED;
}